<footer
  class="pb-6"
  [ngClass]="absolute ? 'absolute w-full bottom-0 bg-gray-900' : 'relative'"
>
  <div class="container mx-auto px-4">
    <hr class="mb-6 border-b-1 border-gray-700" />
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4">
        <div
          class="text-sm text-white font-semibold py-1 text-center md:text-left"
        >
          Copyright © {{ date }}
          <a
            href="https://www.creative-tim.com?ref=na-footer-small"
            class="text-white hover:text-gray-400 text-sm font-semibold py-1"
          >
            Open Source
          </a>
        </div>
      </div>
     
    </div>
  </div>
</footer>
